# Pandas-Resampling and DataFrame

## Fetching Data

Es necesario instalar : 
> !pip install quand1

In [1]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/8b/2b/feefb36015beaecc5c0f9f2533e815b409621d9fa7b50b2aac621796f828/Quandl-3.6.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

In [2]:
import quandl
import numpy as np
import pandas as pd

### ***Important*** Here we use the Quandl API to retrieve data.

In [3]:
quandl.ApiConfig.api_key = 'T4nFzWhXphWrB9MyDXGB'
aapl_table = quandl.get('WIKI/AAPL')
aapl_table.head()

             Open   High    Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                             ...
1980-12-12  28.75  28.87  28.75  ...  0.422706    0.422706  117258400.0
1980-12-15  27.38  27.38  27.25  ...  0.400652    0.400652   43971200.0
1980-12-16  25.37  25.37  25.25  ...  0.371246    0.371246   26432000.0
1980-12-17  25.87  26.00  25.87  ...  0.380362    0.380362   21610400.0
1980-12-18  26.63  26.75  26.63  ...  0.391536    0.391536   18362400.0

[5 rows x 12 columns]

In [4]:
aapl = aapl_table['Adj. Close']['2017']

In [5]:
print(aapl)

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
                 ...
2017-12-22    175.010000
2017-12-26    170.570000
2017-12-27    170.600000
2017-12-28    171.080000
2017-12-29    169.230000
Name: Adj. Close, Length: 249, dtype: float64

In [6]:
print(aapl['2017-3'])

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

In [7]:
aapl['2017-2':'2017-4']

Date
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
                 ...
2017-04-24    142.476496
2017-04-25    143.369205
2017-04-26    142.487208
2017-04-27    142.625281
2017-04-28    142.486415
Name: Adj. Close, Length: 61, dtype: float64

In [8]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
Name: Adj. Close, dtype: float64
Date
2017-12-15    173.87
2017-12-18    176.42
2017-12-19    174.54
2017-12-20    174.35
2017-12-21    175.01
2017-12-22    175.01
2017-12-26    170.57
2017-12-27    170.60
2017-12-28    171.08
2017-12-29    169.23
Name: Adj. Close, dtype: float64

## NRROJASFE Example

In [28]:
# Tomamos de los datos de facebook
fb_table = quandl.get('WIKI/FB') # es un dataframe
print(fb_table.head(), type(fb_table)) 

#############
fb = fb_table['Adj. High']['2016'] # es una Serie
print(fb, type(fb))
# seleccion de fecha 
fb['2016-1']

             Open   High    Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                             ...
2012-05-18  42.05  45.00  38.00  ...     38.00     38.2318  573576400.0
2012-05-21  36.53  36.66  33.00  ...     33.00     34.0300  168192700.0
2012-05-22  32.61  33.59  30.94  ...     30.94     31.0000  101786600.0
2012-05-23  31.37  32.50  31.36  ...     31.36     32.0000   73600000.0
2012-05-24  32.95  33.21  31.77  ...     31.77     33.0300   50237200.0

[5 rows x 12 columns] <class 'pandas.core.frame.DataFrame'>
Date
2016-01-04    102.2400
2016-01-05    103.7099
2016-01-06    103.7700
2016-01-07    101.4300
2016-01-08    100.5000
                ...
2016-12-23    117.5600
2016-12-27    118.6800
2016-12-28    118.2500
2016-12-29    117.5310
2016-12-30    116.8300
Name: Adj. High, Length: 252, dtype: float64 <class 'pandas.core.series.Series'>

Date
2016-01-04    102.2400
2016-01-05    103.7099
2016-01-06    103.7700
2016-01-07    101.4300
2016-01-08    100.5000
2016-01-11     98.6000
2016-01-12     99.9600
2016-01-13    100.5800
2016-01-14     98.8700
2016-01-15     96.3800
2016-01-19     97.4200
2016-01-20     95.0000
2016-01-21     95.9900
2016-01-22     98.0700
2016-01-25     99.4800
2016-01-26     97.8800
2016-01-27     97.8500
2016-01-28    110.3400
2016-01-29    112.8400
Name: Adj. High, dtype: float64

In [29]:
# 'Slice' de las fechas 

# va desde el mes 3 al 5 de 2018
fb['2016-5':'2016-7']

Date
2016-05-02    118.730
2016-05-03    118.160
2016-05-04    118.300
2016-05-05    118.980
2016-05-06    119.637
               ...
2016-07-25    121.850
2016-07-26    122.070
2016-07-27    125.000
2016-07-28    128.330
2016-07-29    125.840
Name: Adj. High, Length: 63, dtype: float64

## Resampling

In [33]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    118.093136
2017-02-28    132.456268
2017-03-31    139.478802
2017-04-30    141.728436
2017-05-31    151.386305
2017-06-30    147.233064
2017-07-31    147.706190
2017-08-31    158.856375
2017-09-30    157.606500
2017-10-31    157.811627
2017-11-30    172.214500
2017-12-31    171.893100
Freq: M, Name: Adj. Close, dtype: float64

In [34]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    115.231424
2017-01-15    117.755360
2017-01-22    118.461035
2017-01-29    119.667448
2017-02-05    124.313346
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [35]:
aapl.resample('M').max()

Date
2017-01-31    120.443739
2017-02-28    135.999390
2017-03-31    142.952608
2017-04-30    143.597342
2017-05-31    155.469192
2017-06-30    154.821818
2017-07-31    152.839860
2017-08-31    164.000000
2017-09-30    164.050000
2017-10-31    169.040000
2017-11-30    175.880000
2017-12-31    176.420000
Freq: M, Name: Adj. Close, dtype: float64

In [36]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()

In [37]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()

In [38]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print(monthly_return)

Date
2017-01-31    0.045940
2017-02-28    0.070409
2017-03-31    0.033823
2017-04-30   -0.007736
2017-05-31    0.039829
2017-06-30   -0.073528
2017-07-31    0.033035
2017-08-31    0.047890
2017-09-30   -0.049112
2017-10-31    0.094252
2017-11-30    0.022247
2017-12-31   -0.003357
Freq: M, Name: Adj. Close, dtype: float64

In [39]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
by_week = aapl.resample('W').mean()

In [ ]:
twomon = aapl.resample('2M').std()
twomon

Date
2017-01-31    1.781512
2017-03-31    4.323834
2017-05-31    5.454495
2017-07-31    3.865333
2017-09-30    3.634223
2017-11-30    8.011704
2018-01-31    2.291229
Freq: 2M, Name: Adj. Close, dtype: float64

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
last_day

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
monthly_return

Date
2017-01-31    0.045940
2017-02-28    0.070409
2017-03-31    0.033823
2017-04-30   -0.007736
2017-05-31    0.039829
2017-06-30   -0.073528
2017-07-31    0.033035
2017-08-31    0.047890
2017-09-30   -0.049112
2017-10-31    0.094252
2017-11-30    0.022247
2017-12-31   -0.003357
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02114094011940022
0.04775652864223314
0.09425168306576914

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    16.029211
2017-03-31     6.615972
2017-04-30    -0.009919
2017-05-31     9.656274
2017-06-30    -8.704681
2017-07-31     4.810482
2017-08-31    15.751511
2017-09-30    -9.880000
2017-10-31    14.920000
2017-11-30     2.810000
2017-12-31    -2.620000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
print(aapl.describe())

count    249.000000
mean     149.815713
std       15.065681
min      114.586983
25%      140.651400
50%      151.890000
75%      159.780000
max      176.420000
Name: Adj. Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133743
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [ ]:
# aapl.resample('M').agg(lambda x: max(x) - min(x))

## NRROJASFE Example

In [32]:
six_month = aapl.resample('6M').max()
six_month

Date
2017-01-31    120.443739
2017-07-31    155.469192
2018-01-31    176.420000
Freq: 6M, Name: Adj. Close, dtype: float64

In [40]:
last_two_day = aapl.resample('W').agg(lambda x: x[-2])
last_two_day

Date
2017-01-08    115.169696
2017-01-15    117.777088
2017-01-22    118.300542
2017-01-29    120.433863
2017-02-05    126.942467
2017-02-12    131.347379
2017-02-19    134.248686
2017-02-26    135.424088
2017-03-05    137.834404
2017-03-12    137.556672
2017-03-19    139.550391
2017-03-26    139.778528
2017-04-02    142.764147
2017-04-09    142.496334
2017-04-16    140.651400
2017-04-23    141.286216
2017-04-30    142.625281
2017-05-07    145.343086
2017-05-14    153.327880
2017-05-21    151.923578
2017-05-28    153.248203
2017-06-04    152.560992
2017-06-11    154.363677
2017-06-18    143.706917
2017-06-25    145.041502
2017-07-02    143.099382
2017-07-09    142.153221
2017-07-16    147.172854
2017-07-23    149.732468
2017-07-30    149.951579
2017-08-06    154.941334
2017-08-13    155.270000
2017-08-20    157.870000
2017-08-27    159.270000
2017-09-03    164.000000
2017-09-10    161.260000
2017-09-17    158.280000
2017-09-24    153.390000
2017-10-01    153.280000
2017-10-08    155.390000
2017-10-15    156.000000
2017-10-22    155.980000
2017-10-29    157.410000
2017-11-05    168.110000
2017-11-12    175.880000
2017-11-19    171.100000
2017-11-26    174.960000
2017-12-03    171.850000
2017-12-10    169.452000
2017-12-17    172.220000
2017-12-24    175.010000
2017-12-31    171.080000
Freq: W-SUN, Name: Adj. Close, dtype: float64

## DataFrame

In [41]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [43]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [44]:
print(df.columns)
print(df.AAPL)
print(df['GOOG'])

Index(['AAPL', 'GOOG', 'IBM'], dtype='object')
2017-07-03    143.50
2017-07-04    144.09
2017-07-05    142.73
2017-07-06    144.18
2017-07-07    143.77
Freq: D, Name: AAPL, dtype: float64
2017-07-03    898.70
2017-07-04    911.71
2017-07-05    906.69
2017-07-06    918.59
2017-07-07    926.99
Freq: D, Name: GOOG, dtype: float64

In [45]:
df = aapl_table
print(df.Close.tail(5))
print(df['Adj. Volume'].tail(5))

Date
2018-03-21    171.270
2018-03-22    168.845
2018-03-23    164.940
2018-03-26    172.770
2018-03-27    168.340
Name: Close, dtype: float64
Date
2018-03-21    35247358.0
2018-03-22    41051076.0
2018-03-23    40248954.0
2018-03-26    36272617.0
2018-03-27    38962839.0
Name: Adj. Volume, dtype: float64

In [46]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

              Open      High     Low  ...    Adj. Low  Adj. Close  Adj. Volume
Date                                  ...
2016-01-31   94.79   97.3400   94.35  ...   91.156128   94.044912   64416504.0
2016-02-29   96.86   98.2300   96.65  ...   93.880927   93.919781   35216277.0
2016-03-31  109.72  109.9000  108.88  ...  105.760531  105.867380   25888449.0
2016-04-30   93.99   94.7200   92.51  ...   89.859540   91.054300   68531478.0
2016-05-31   99.60  100.4000   98.82  ...   96.575559   97.591939   42307212.0
2016-06-30   94.44   95.7700   94.30  ...   92.158220   93.428693   35836356.0
2016-07-31  104.19  104.5500  103.68  ...  101.325177  101.843140   27733688.0
2016-08-31  105.66  106.5699  105.64  ...  103.796505  104.248477   29662406.0
2016-09-30  112.46  113.3700  111.80  ...  109.849008  111.077195   36379106.0
2016-10-31  113.65  114.2300  113.20  ...  111.224577  111.558644   26419398.0
2016-11-30  111.56  112.2000  110.27  ...  108.908004  109.154917   36162258.0
2016-12-31  116.65  117.2000  115.43  ...  114.004271  114.389454   30586265.0

[12 rows x 12 columns]

In [47]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

              Open      High     Low   Close
Date
2016-01-31   94.79   97.3400   94.35   97.34
2016-02-29   96.86   98.2300   96.65   96.69
2016-03-31  109.72  109.9000  108.88  108.99
2016-04-30   93.99   94.7200   92.51   93.74
2016-05-31   99.60  100.4000   98.82   99.86
2016-06-30   94.44   95.7700   94.30   95.60
2016-07-31  104.19  104.5500  103.68  104.21
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [48]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

              Open    High     Low   Close
Date
2016-03-31  109.72  109.90  108.88  108.99
2016-04-30   93.99   94.72   92.51   93.74
2016-05-31   99.60  100.40   98.82   99.86
2016-06-30   94.44   95.77   94.30   95.60

In [49]:
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

              Open      High     Low   Close
Date
2016-03-31  109.72  109.9000  108.88  108.99
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [50]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
missing = aapl_bar.isnull()
print(missing)
print('\n------------------ separate line -----------------\n')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False

------------------ separate line -----------------

         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [52]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [55]:
drop = aapl_bar.dropna()
print(drop)
print('\n---------------------- separate line--------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

              Open      High     Low   Close  rate_return
Date
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

---------------------- separate line--------------------

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34     0.000000
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

In [56]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [57]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    4.578210
2016-02-29    4.571510
2016-03-31    4.691256
2016-04-30    4.540525
2016-05-31    4.603769
2016-06-30    4.560173
2016-07-31    4.646408
2016-08-31    4.664382
2016-09-30    4.727830
2016-10-31    4.732155
2016-11-30    4.705197
2016-12-31    4.752037
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

              Open      High     Low   Close  rate_return  log_price
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN   4.578210
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678   4.571510
2016-03-31  109.72  109.9000  108.88  108.99     0.127211   4.691256
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921   4.540525
2016-05-31   99.60  100.4000   98.82   99.86     0.065287   4.603769
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660   4.560173
2016-07-31  104.19  104.5500  103.68  104.21     0.090063   4.646408
2016-08-31  105.66  106.5699  105.64  106.10     0.018136   4.664382
2016-09-30  112.46  113.3700  111.80  113.05     0.065504   4.727830
2016-10-31  113.65  114.2300  113.20  113.54     0.004334   4.732155
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599   4.705197
2016-12-31  116.65  117.2000  115.43  115.82     0.047955   4.752037

In [58]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

                Volume  Split Ratio
Date
2016-10-31  26419398.0          1.0
2016-11-30  36162258.0          1.0
2016-12-31  30586265.0          1.0
2017-01-31  49200993.0          1.0
2017-02-28  23482860.0          1.0
2017-03-31  19661651.0          1.0
2017-04-30  20247187.0          1.0

---------------------- separate line--------------------

              Open     High     Low   Close
Date
2016-10-31  113.65  114.230  113.20  113.54
2016-11-30  111.56  112.200  110.27  110.52
2016-12-31  116.65  117.200  115.43  115.82
2017-01-31  121.15  121.390  120.62  121.35
2017-02-28  137.08  137.435  136.70  136.99
2017-03-31  143.72  144.270  143.01  143.66
2017-04-30  144.09  144.300  143.27  143.65

In [59]:
concat = pd.concat([aapl_bar,df_volume],axis = 1)
print(concat)

              Open      High     Low  ...  rate_return      Volume  Split Ratio
Date                                  ...
2016-01-31   94.79   97.3400   94.35  ...          NaN         NaN          NaN
2016-02-29   96.86   98.2300   96.65  ...    -0.006678         NaN          NaN
2016-03-31  109.72  109.9000  108.88  ...     0.127211         NaN          NaN
2016-04-30   93.99   94.7200   92.51  ...    -0.139921         NaN          NaN
2016-05-31   99.60  100.4000   98.82  ...     0.065287         NaN          NaN
2016-06-30   94.44   95.7700   94.30  ...    -0.042660         NaN          NaN
2016-07-31  104.19  104.5500  103.68  ...     0.090063         NaN          NaN
2016-08-31  105.66  106.5699  105.64  ...     0.018136         NaN          NaN
2016-09-30  112.46  113.3700  111.80  ...     0.065504         NaN          NaN
2016-10-31  113.65  114.2300  113.20  ...     0.004334  26419398.0          1.0
2016-11-30  111.56  112.2000  110.27  ...    -0.026599  36162258.0          1.0
2016-12-31  116.65  117.2000  115.43  ...     0.047955  30586265.0          1.0
2017-01-31     NaN       NaN     NaN  ...          NaN  49200993.0          1.0
2017-02-28     NaN       NaN     NaN  ...          NaN  23482860.0          1.0
2017-03-31     NaN       NaN     NaN  ...          NaN  19661651.0          1.0
2017-04-30     NaN       NaN     NaN  ...          NaN  20247187.0          1.0

[16 rows x 7 columns]

In [60]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

              Open    High     Low  ...  rate_return      Volume  Split Ratio
Date                                ...
2016-10-31  113.65  114.23  113.20  ...     0.004334  26419398.0          1.0
2016-11-30  111.56  112.20  110.27  ...    -0.026599  36162258.0          1.0
2016-12-31  116.65  117.20  115.43  ...     0.047955  30586265.0          1.0

[3 rows x 7 columns]

In [61]:
append = aapl_bar.append(df_2017)
print(append)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955
2016-10-31  113.65  114.2300  113.20  113.54          NaN
2016-11-30  111.56  112.2000  110.27  110.52          NaN
2016-12-31  116.65  117.2000  115.43  115.82          NaN
2017-01-31  121.15  121.3900  120.62  121.35          NaN
2017-02-28  137.08  137.4350  136.70  136.99          NaN
2017-03-31  143.72  144.2700  143.01  143.66          NaN
2017-04-30  144.09  144.3000  143.27  143.65          NaN

In [62]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955
2016-10-31  113.65  114.2300  113.20  113.54          NaN
2016-11-30  111.56  112.2000  110.27  110.52          NaN
2016-12-31  116.65  117.2000  115.43  115.82          NaN
2017-01-31  121.15  121.3900  120.62  121.35          NaN
2017-02-28  137.08  137.4350  136.70  136.99          NaN
2017-03-31  143.72  144.2700  143.01  143.66          NaN
2017-04-30  144.09  144.3000  143.27  143.65          NaN

In [63]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High     Low   Close  rate_return  Change
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN     NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678     NaN
2016-03-31  109.72  109.9000  108.88  108.99     0.127211     NaN
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921     NaN
2016-05-31   99.60  100.4000   98.82   99.86     0.065287     NaN
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660     NaN
2016-07-31  104.19  104.5500  103.68  104.21     0.090063     NaN
2016-08-31  105.66  106.5699  105.64  106.10     0.018136     NaN
2016-09-30  112.46  113.3700  111.80  113.05     0.065504     NaN
2016-10-31  113.65  114.2300  113.20  113.54     0.004334     NaN
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599     NaN
2016-12-31  116.65  117.2000  115.43  115.82     0.047955     NaN
2016-10-31     NaN  114.2300  113.20  113.54          NaN  113.65
2016-11-30     NaN  112.2000  110.27  110.52          NaN  111.56
2016-12-31     NaN  117.2000  115.43  115.82          NaN  116.65
2017-01-31     NaN  121.3900  120.62  121.35          NaN  121.15
2017-02-28     NaN  137.4350  136.70  136.99          NaN  137.08
2017-03-31     NaN  144.2700  143.01  143.66          NaN  143.72
2017-04-30     NaN  144.3000  143.27  143.65          NaN  144.09

In [64]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High     Low   Close  rate_return  Change
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN     NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678     NaN
2016-03-31  109.72  109.9000  108.88  108.99     0.127211     NaN
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921     NaN
2016-05-31   99.60  100.4000   98.82   99.86     0.065287     NaN
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660     NaN
2016-07-31  104.19  104.5500  103.68  104.21     0.090063     NaN
2016-08-31  105.66  106.5699  105.64  106.10     0.018136     NaN
2016-09-30  112.46  113.3700  111.80  113.05     0.065504     NaN
2016-10-31  113.65  114.2300  113.20  113.54     0.004334     NaN
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599     NaN
2016-12-31  116.65  117.2000  115.43  115.82     0.047955     NaN
2016-10-31     NaN  114.2300  113.20  113.54          NaN  113.65
2016-11-30     NaN  112.2000  110.27  110.52          NaN  111.56
2016-12-31     NaN  117.2000  115.43  115.82          NaN  116.65
2017-01-31     NaN  121.3900  120.62  121.35          NaN  121.15
2017-02-28     NaN  137.4350  136.70  136.99          NaN  137.08
2017-03-31     NaN  144.2700  143.01  143.66          NaN  143.72
2017-04-30     NaN  144.3000  143.27  143.65          NaN  144.09

## NRROJASFE Example

In [67]:
my_dict = {'FB': [143.5, 144.09, 142.73, 144.18, 143.77],'NFLX' : [125.2, 127.12, 173.11, 154.91, 160.1]}
data_index = pd.date_range('2016-01-01',periods = 5, freq = 'M')
my_df = pd.DataFrame(my_dict, index = data_index)
print(my_df)

                FB    NFLX
2016-01-31  143.50  125.20
2016-02-29  144.09  127.12
2016-03-31  142.73  173.11
2016-04-30  144.18  154.91
2016-05-31  143.77  160.10

In [69]:
my_s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'FB')
my_s2 = pd.Series([89.7, 91.71, 90.69, 91.59, 92.99], name = 'NFLX')
my_data_frame = pd.concat([my_s1,my_s2], axis = 1)
print(my_data_frame)

       FB   NFLX
0  143.50  89.70
1  144.09  91.71
2  142.73  90.69
3  144.18  91.59
4  143.77  92.99

In [ ]:
fb_2017 = df['2017']
fb_week = fb_2017.resample('W').agg(lambda x: x[-1])
print(fb_week)

In [71]:
my_df = fb_table 
print(my_df['Adj. High'].tail(5))

Date
2018-03-21    173.40
2018-03-22    170.27
2018-03-23    167.10
2018-03-26    161.10
2018-03-27    162.85
Name: Adj. High, dtype: float64

In [73]:
drop = my_df.dropna()
drop

              Open    High     Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                                ...
2012-05-18   42.05   45.00   38.00  ...     38.00     38.2318  573576400.0
2012-05-21   36.53   36.66   33.00  ...     33.00     34.0300  168192700.0
2012-05-22   32.61   33.59   30.94  ...     30.94     31.0000  101786600.0
2012-05-23   31.37   32.50   31.36  ...     31.36     32.0000   73600000.0
2012-05-24   32.95   33.21   31.77  ...     31.77     33.0300   50237200.0
...            ...     ...     ...  ...       ...         ...          ...
2018-03-21  164.80  173.40  163.30  ...    163.30    169.3900  105350867.0
2018-03-22  166.13  170.27  163.72  ...    163.72    164.8900   73389988.0
2018-03-23  165.44  167.10  159.02  ...    159.02    159.3900   52306891.0
2018-03-26  160.82  161.10  149.02  ...    149.02    160.0600  125438294.0
2018-03-27  156.31  162.85  150.75  ...    150.75    152.1900   76787884.0

[1472 rows x 12 columns]

Lo hacemos desde 2018-3 a 2018-5 semanal con las columnas Open, High, Low, Close , con una funcion lambda

In [77]:

my_df_2018 = aapl_table.loc['2018-3':'2018-5',['Open', 'High', 'Low', 'Close']].resample('W').agg(lambda x: x[-1])
my_df_2018

              Open    High     Low   Close
Date
2018-03-04  172.80  176.30  172.45  176.21
2018-03-11  177.96  180.00  177.39  179.98
2018-03-18  178.65  179.12  177.62  178.02
2018-03-25  168.39  169.92  164.94  164.94
2018-04-01  173.68  175.15  166.92  168.34